<ion-content class="main-background">
  <ion-fab vertical="top" size="small" horizontal="end" slot="fixed">
    <ion-fab-button color="undefine" class="main-color" (click)="presentActionSheet()">
      <ion-icon name="settings"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-slides options="myOptions" class="swiper-no-swiping">







    <!-- Restaurant Name -->
    <ion-slide class="ion-padding " style=" vertical-align:top">
      <div class="ion-float-left main-color">
        <ion-icon (click)="gotoGoogleMap()" name="arrow-back">
        </ion-icon>

      </div>
      <h4 class="ion-text-center main-color ion-margin-bottom">Restaurant Detail</h4>
      <br>
      <br>

      <ion-row *ngIf="restaurantDetail.name">
        <ion-col padding>
          <h6 class="main-color bold ion-text-left" style="margin-bottom: 15px;">Restaurant name: </h6>

          <div class="full-border">
            <ion-input type="text" class="main-color bold" placeholder="Enter the Restaurant Name" autofocus
              id="nameOfRest" [(ngModel)]="restaurantDetail.name" name="name"></ion-input>
          </div>
          <br>

          <h6 class="ion-text-left">
            <span class="bold" style="font-size: 17px !important;line-height: 40px;">Restaurant Add: <br></span>
            {{restaurantDetail?.formatted_address}}
          </h6>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col padding>
          <div class="fixed-btn">
            <ion-button expand="block" color='undefine' (click)="saveRestName()" class="full-with-btn  mt-20">NEXT
            </ion-button>
          </div>
        </ion-col>


      </ion-row>

    </ion-slide>


    <!-- Food served in restaurant is -->
    <ion-slide class="ion-padding " id="vegColor" style=" vertical-align:top">
      <div class="ion-float-left main-color">
        <ion-icon (click)="previous()" name="arrow-back">
        </ion-icon>

      </div>
      <h4 class="ion-text-center  main-color  ion-margin-bottom">Food served in restaurant is</h4>
      <br>
      <br>
      <ion-row>
        <ion-col class="ion-margin-top">
          <div class="round-box" style="margin: auto">
            <img *ngIf="((foodType.veg)||(foodType.both))" class="img-veg" src="assets/veg.svg">
            <img *ngIf="((foodType.nonVeg)||(foodType.both))" class="img-veg" src="assets/nonveg.svg">
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="list tab-menu">
        <ion-col (click)="addClass( 'veg')" [ngClass]="(foodType.veg)?'item font-active':'item '">Veg</ion-col>
        <ion-col (click)="addClass( 'nonVeg')" [ngClass]="(foodType.nonVeg)?'item font-active':'item '">Non - Veg
        </ion-col>
        <ion-col (click)="addClass( 'both')" [ngClass]="(foodType.both)?'item font-active':'item '">Both</ion-col>
      </ion-row>

      <ion-row *ngIf="!foodType.nonVeg">
        <ion-col padding>
          <div class="text-with-right-toggle mt-20">
            <ion-label class="ion-float-left toggle-lable">Jain preparation available</ion-label>
            <ion-toggle class="ion-float-right" [(ngModel)]="foodType.jain" slot="end" name="jain" color="danger"
              checked></ion-toggle>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col padding>
          <div class="fixed-btn">
            <ion-button expand="block" color='undefine' (click)="saveFoodType()" class="full-with-btn  mt-20">NEXT
            </ion-button>
          </div>
        </ion-col>


      </ion-row>
    </ion-slide>



    <!-- Type of Restaurant -->
    <ion-slide class="ion-padding " style=" vertical-align:top">

      <div class="ion-float-left main-color">
        <ion-icon (click)="previous()" name="arrow-back">
        </ion-icon>

      </div>

      <h4 class="ion-text-center main-color  ion-margin-bottom">Type of Restaurant</h4>
      <br>
      <br>
      <ion-row>
        <ion-col class="ion-margin-top">
          <div class="round-box" style="margin: auto">
            <img *ngIf="((restType.cafe)||(restType.both))" class="img-logo" src="assets/cafe.svg">
            <img *ngIf="((restType.restaurant)||(restType.both))" class="img-logo" src="assets/restaurant.svg">
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="list tab-menu">
        <ion-col (click)="addClassInRestType( 'cafe')" [ngClass]="(restType.cafe)?'item font-active':'item '">Cafe
        </ion-col>
        <ion-col (click)="addClassInRestType( 'restaurant')"
          [ngClass]="(restType.restaurant)?'item font-active':'item '">
          Restaurant</ion-col>
        <ion-col (click)="addClassInRestType( 'both')" [ngClass]="(restType.both)?'item font-active':'item '">Both
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col padding>
          <div class="fixed-btn">
            <ion-button expand="block" color='undefine' (click)="saveRestType()" class="full-with-btn  mt-20">NEXT
            </ion-button>
          </div>
        </ion-col>


      </ion-row>
    </ion-slide>


    <!-- Payment Options -->
    <ion-slide class="ion-padding " style=" vertical-align:top">
      <div class="ion-float-left main-color">
        <ion-icon (click)="previous()" name="arrow-back">
        </ion-icon>

      </div>
      <h4 class="ion-text-center main-color  ion-margin-bottom">Payment Options</h4>
      <br>
      <br>
      <ion-row>
        <ion-col class="ion-margin-top">
          <div class="round-box" style="margin: auto">
            <img *ngIf="paymentOption.cash" class="img-veg" src="assets/cash.svg">
            <img *ngIf="paymentOption.credit" class="img-veg" src="assets/card.svg">
            <img *ngIf="paymentOption.paytm" class="img-upi" src="assets/Paytm_logo@3x.png">
            <img *ngIf="paymentOption.upi" class="img-upi" src="assets/upi.png">
          </div>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col>
          <ion-item-sliding padding>
            <ion-item lines="none" color="undefine" class="bot-border">
              <ion-label class="toggle-lable" style="color:var(--main-font-color)">Cash</ion-label>
              <ion-toggle slot="end" [(ngModel)]="paymentOption.cash" name="cash" color="danger" checked></ion-toggle>
            </ion-item>
            <ion-item lines="none" color="undefine" class="bot-border">
              <ion-label class="toggle-lable" style="color:var(--main-font-color)">Credit / Debit Card</ion-label>
              <ion-toggle slot="end" [(ngModel)]="paymentOption.credit" name="credit" color="danger"></ion-toggle>
            </ion-item>
            <ion-item lines="none" color="undefine" class="bot-border">
              <ion-label class="toggle-lable" style="color:var(--main-font-color)">Paytm</ion-label>
              <ion-toggle slot="end" [(ngModel)]="paymentOption.paytm" name="paytm" color="danger"></ion-toggle>
            </ion-item>
            <ion-item lines="none" color="undefine" class="bot-border">
              <ion-label class="toggle-lable" style="color:var(--main-font-color)">
                UPI Payment
                <br>
                <p style="font-size: 12px;margin-top:5px;">Google pay / Phonepay / Paytm UPI etc</p>
              </ion-label>
              <ion-toggle slot="end" [(ngModel)]="paymentOption.upi" name="upi" color="danger"></ion-toggle>
            </ion-item>
          </ion-item-sliding>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col padding>
          <div class="fixed-btn">
            <ion-button expand="block" color='undefine' (click)="savePaymentType()" class="full-with-btn  mt-20">NEXT
            </ion-button>
          </div>
        </ion-col>


      </ion-row>
    </ion-slide>



    <!-- You are open on -->
    <ion-slide class="ion-padding " style=" vertical-align:top">
      <div class="ion-float-left main-color">
        <ion-icon (click)="previous()" name="arrow-back">
        </ion-icon>

      </div>
      <h4 class="ion-text-center main-color ">You are open on</h4>
      <br>
      <br>
      <ion-row>
        <ion-col>
          <ion-item-sliding padding>
            <ion-item *ngFor="let days of openOn" lines="none" color="undefine" class="bot-border">
              <ion-label class="toggle-lable" style="color:var(--main-font-color)">{{days.day}}</ion-label>
              <ion-toggle slot="end" [(ngModel)]="days.isOpen" name="monday" color="danger" checked></ion-toggle>
            </ion-item>
            <!-- <ion-item lines="none" color="undefine" class="bot-border">
              <ion-label class="toggle-lable" style="color:#c44829">Tuesday</ion-label>
              <ion-toggle slot="end" [(ngModel)]="openOn.day0.tuesday" name="tuesday" color="danger" checked></ion-toggle>
            </ion-item>
            <ion-item lines="none" color="undefine" class="bot-border">
              <ion-label class="toggle-lable" style="color:#c44829">Wednesday</ion-label>
              <ion-toggle slot="end" [(ngModel)]="openOn.day0.wednesday" name="wednesday" color="danger" checked></ion-toggle>
            </ion-item>
            <ion-item lines="none" color="undefine" class="bot-border">
              <ion-label class="toggle-lable" style="color:#c44829">Thursday</ion-label>
              <ion-toggle slot="end" [(ngModel)]="openOn.day0.thursday" name="thursday" color="danger" checked></ion-toggle>
            </ion-item>
            <ion-item lines="none" color="undefine" class="bot-border">
              <ion-label class="toggle-lable" style="color:#c44829">Friday</ion-label>
              <ion-toggle slot="end" [(ngModel)]="openOn.day0.friday" name="friday" color="danger" checked></ion-toggle>
            </ion-item>
            <ion-item lines="none" color="undefine" class="bot-border">
              <ion-label class="toggle-lable" style="color:#c44829">Saturday</ion-label>
              <ion-toggle slot="end" [(ngModel)]="openOn.day0.saturday" name="saturday" color="danger" checked></ion-toggle>
            </ion-item>
            <ion-item lines="none" color="undefine" class="bot-border">
              <ion-label class="toggle-lable" style="color:#c44829">Sunday</ion-label>
              <ion-toggle slot="end" [(ngModel)]="openOn.day0.sunday" name="sunday" color="danger" checked></ion-toggle>
            </ion-item> -->
          </ion-item-sliding>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col padding>
          <div class="fixed-btn">
            <ion-button expand="block" color='undefine' (click)="selectDays();" class="full-with-btn  mt-20">
              NEXT
            </ion-button>
          </div>
        </ion-col>


      </ion-row>
    </ion-slide>




    <!-- Restaurant timing -->

    <ion-slide class="ion-padding " style=" vertical-align:top">
      <div class="ion-float-left main-color">
        <ion-icon (click)="previous()" name="arrow-back">
        </ion-icon>

      </div>

      <h4 class="ion-text-center  main-color  ion-margin-bottom">Restaurant timing</h4>
      <br>
      <div padding style="display:flex" class="all-content-center">
        <div *ngFor="let days of openOn; let i = index;">
          <ion-button *ngIf="days.isOpen" size="small" color="undefine" (click)=" sendDay(days); curentDay = i"
            [ngClass]="(curentDay ==i)?' day-square-btn day-active': 'day-square-btn'">
            {{days.day.substring(0, 1)}}</ion-button>
        </div>
      </div>


      <ion-row>
        <ion-col size="12">
          <ion-item lines="none" color="undefine" class="full-border">

            <ion-datetime class="main-color" display-format="hh:mm A" placeholder="Select Opening time"
              picker-format="hh:mm A" (ionChange)="openTime(selectedDayTime.open)" [(ngModel)]="selectedDayTime.open"
              name="open">
            </ion-datetime>
          </ion-item>
        </ion-col>

        <ion-col size="12">
          <ion-item lines="none" color="undefine">
            <ion-label class="ion-text-center lable-font">to</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="12">
          <ion-item lines="none" color="undefine" class="full-border">
            <ion-datetime [disabled]="selectedDayTime.open==''" class="main-color" display-format="hh:mm A"
              [(ngModel)]="selectedDayTime.close" (ionChange)="closeTime(selectedDayTime.close)"
              placeholder="Select Closing Time" picker-format="hh:mm A" name="close">
            </ion-datetime>
          </ion-item>
        </ion-col>

      </ion-row>
      <ion-item-divider lines="none" color="undefine"></ion-item-divider>
      <br>
      <br>
      <br>

      <ion-row *ngIf="((selectedDayTime.close)&&(selectedDayTime.open))">
        <ion-col padding>
          <div class="text-with-right-toggle mt-20">
            <ion-label class="ion-float-left toggle-lable">Same Timing For All Day</ion-label>
            <ion-toggle class="ion-float-right" [(ngModel)]="sameTimeForAll" (click)="setSametimeForAll(sameTimeForAll)"
              slot="end" name="sameTime" color="danger" checked>
            </ion-toggle>
          </div>
        </ion-col>
      </ion-row>
      <br>

      <ion-row>
        <ion-col padding>
          <div class="fixed-btn">
            <ion-button expand="block" color='undefine' (click)=" checkForRequiredFieldOnDay(); "
              class="full-with-btn  mt-20">
              NEXT
            </ion-button>
          </div>
        </ion-col>


      </ion-row>

    </ion-slide>



    <!-- Parking Area -->
    <ion-slide class="ion-padding " style=" vertical-align:top">
      <div class="ion-float-left main-color">
        <ion-icon (click)="previous()" name="arrow-back">
        </ion-icon>

      </div>
      <h4 class="ion-text-center main-color  ion-margin-bottom">Parking Area</h4>
      <br>
      <br>
      <ion-row>
        <ion-col class="ion-margin-top">
          <div class="round-box" style="margin: auto">
            <img *ngIf="parking" class="img-veg" src="assets/parking-dark.svg">
            <img *ngIf="!parking" class="img-veg" src="assets/parking.svg">
          </div>
        </ion-col>
      </ion-row>
      <br>
      <br>
      <br>
      <ion-row>
        <ion-col padding>
          <div class="text-with-right-toggle mt-20">
            <ion-label class="ion-float-left toggle-lable">Parking is available</ion-label>
            <ion-toggle class="ion-float-right" name="parking" [(ngModel)]="parking" slot="end" name="apple"
              color="danger" checked></ion-toggle>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col padding>
          <div class="fixed-btn">
            <ion-button expand="block" color='undefine' (click)="saveParking()" class="full-with-btn  mt-20">NEXT
            </ion-button>
          </div>
        </ion-col>


      </ion-row>
    </ion-slide>






    <!-- Accommodation size -->
    <ion-slide class="ion-padding " style=" vertical-align:top">
      <div class="ion-float-left main-color">
        <ion-icon (click)="previous()" name="arrow-back">
        </ion-icon>

      </div>
      <h4 class="ion-text-center  main-color  ion-margin-bottom">Accommodation Size</h4>
      <br>
      <br>
      <ion-row>
        <ion-col class="ion-margin-top">
          <div class="round-box" style="margin: auto">
            <img class="img-logo" src="assets/tables.svg">
            <img *ngIf="restCapacity>= 30" class="img-logo" src="assets/tables.svg">
            <img *ngIf="restCapacity== 50" class="img-logo" src="assets/tables.svg">
          </div>
        </ion-col>
      </ion-row>

      <br>
      <br>
      <p *ngIf="(restCapacity == 10)">10 - 20 People at a time</p>
      <p *ngIf="(restCapacity == 20)">20 - 30 People at a time</p>
      <p *ngIf="(restCapacity == 30)">30 - 40 People at a time</p>
      <p *ngIf="(restCapacity == 40)">40 - 50 People at a time</p>
      <p *ngIf="(restCapacity == 50)">More then 50 People at a time</p>


      <ion-item lines="none" color="undefine">
        <ion-range min="10" max="50" step="10" [(ngModel)]="restCapacity" name="restCapacity" snaps color="danger">
        </ion-range>
      </ion-item>


      <ion-row>
        <ion-col padding>
          <div class="fixed-btn">
            <ion-button expand="block" color='undefine' (click)="SaveRestCapacity()" class="full-with-btn  mt-20">
              NEXT
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-slide>




    <!-- Average cost per person -->
    <ion-slide class="ion-padding " style=" vertical-align:top">
      <div class="ion-float-left main-color">
        <ion-icon (click)="previous()" name="arrow-back">
        </ion-icon>
      </div>

      <h4 class="ion-text-center main-color  ion-margin-bottom">Average cost per person</h4>
      <br>
      <br>
      <ion-row>
        <ion-col class="ion-margin-top">
          <div class="round-box" style="margin: auto">
            <img class="img-veg" src="assets/crown.svg">
          </div>
        </ion-col>
      </ion-row>

      <br>
      <br>
      <br>
      <p class="cost">
        {{restCost}}<span style="font-size: 5px !important;font-weight: normal;"> / per person</span>
      </p>
      <br>

      <ion-item lines="none" color="undefine">
        <ion-range min="50" max="500" step="50" [(ngModel)]="restCost" name="restCost" snaps color="danger">
        </ion-range>
      </ion-item>


      <ion-row>
        <ion-col padding>
          <div class="fixed-btn">
            <ion-button expand="block" color='undefine' (click)="saveCost()" class="full-with-btn  mt-20">NEXT
            </ion-button>
          </div>
        </ion-col>
      </ion-row>

    </ion-slide>




    <ion-slide class="ion-padding " style=" vertical-align:top">

      <div class="ion-float-left main-color">
        <ion-icon (click)="previous()" name="arrow-back">
        </ion-icon>

      </div>
      <h4 class="ion-text-center  main-color ">Menu and restaurant img</h4>
      <ion-grid>
        <ion-row>
          <ion-col size="6" class="menu-img" *ngFor="let photo of photoService.photos">
            <button class="rm-btn" (click)="photoService.removePicture(photo.data)">
              <span>&#10005;</span>
            </button>
            <img [src]="photo.data" />
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="presentActionSheetForCamera()">
          <ion-icon name="images"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-row>
        <ion-col padding>
          <div class="fixed-btn">
            <ion-button expand="block" color='undefine' (click)="saveImg()" class="full-with-btn  mt-20">NEXT
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-slide>



    <!-- About your restaurant -->
    <ion-slide class="ion-padding " style=" vertical-align:top">
      <div class="ion-float-left main-color">
        <ion-icon (click)="previous()" name="arrow-back">
        </ion-icon>

      </div>

      <h4 class="ion-text-center main-color ">About your restaurant</h4>
      <br>
      <ion-textarea style="line-height: 26px;" [(ngModel)]="aboutRestaurant" name="aboutRestaurant"
        class="main-color full-border" autofocus auto-grow="true"
        placeholder=" We love restaurants as much as you do. That’s why we’ve been..."></ion-textarea>
      <br>
      <ion-row>
        <ion-col padding>
          <div class="fixed-btn">
            <ion-button expand="block" color='undefine' (click)="saveAboutRestaurant()" class="full-with-btn  mt-20">
              NEXT
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-slide>



    <ion-slide class="ion-padding " style=" vertical-align:top">

      <div class="ion-float-left main-color">
        <ion-icon (click)="previous()" name="arrow-back">
        </ion-icon>

      </div>
      <ion-row>
        <ion-col class="fire-logo">

          <h1 style="font-size: xx-large" class="main-color btn-color ion-no-margin ion-text-center ion-margin-vertical"
            style="margin: 0 !important;">
            One Last Step </h1>

          <img src="assets/welcome.png" class="img-logo">

          <p style="font-size: 18px !important" class="ion-text-center bold">Connect to your Email</p>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="stylist-input" lines="none" color="undefine">
            <ion-label slot="end" style="font-size: 12px;">Email Id</ion-label>
            <ion-input class="opacity-1" type="text" name="email" [(ngModel)]="email">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col padding>
          <div class="fixed-btn">
            <ion-button *ngIf="!userDetails.emailVerified" expand="block" color='undefine'
              (click)="sendEmailVerifycatioLink()" [disabled]="!isValidEmail()" class="full-with-btn  mt-20"> Verify
              Email
            </ion-button>
            <ion-button *ngIf="userDetails.emailVerified" expand="block" color='undefine' (click)="next()"
              class="full-with-btn  mt-20">NEXT
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-slide>

    <ion-slide class="ion-padding " style=" vertical-align:top">

      <div class="ion-float-left main-color">
        <ion-icon (click)="previous()" name="arrow-back">
        </ion-icon>

      </div>
      <ion-row>
        <ion-col class="fire-logo">

          <h1 style="font-size: xx-large" class="main-color btn-color ion-no-margin ion-text-center ion-margin-vertical"
            style="margin: 0 !important;">
            One Last Step </h1>

          <img src="assets/welcome.png" class="img-logo">

          <p style="font-size: 18px !important" class="ion-text-center bold">Please Verify Your Email ID</p>
          <p style="font-size: 16px !important" class="ion-text-center ">We have sent you a link on</p>
          <p style="font-size: 16px !important" class="ion-text-center bold">{{userDetails.email}}</p>
          <p style="font-size: 12px !important" class="ion-text-center ">please click on that link to verify your email
            id then open the app again</p>

        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col padding>
          <div class="fixed-btn">

            <ion-button expand="block" color='undefine' (click)="next()" class="full-with-btn  mt-20">NEXT
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-slide>


    <ion-slide class="ion-padding " style=" vertical-align:top">

      <ion-row>
        <ion-col class="fire-logo">

          <h1 style="font-size: xx-large" class="main-color btn-color ion-no-margin ion-text-center ion-margin-vertical"
            style="margin: 0 !important;">
            Thankyou for Joining </h1>

          <img src="assets/welcome.png" class="img-logo">

          <p style="font-size: 18px !important" class="ion-text-center bold">We'll Be Back Soon</p>
          <br>
          <p style="font-size: 14px !important" class="ion-text-center bold">What can you expect from us</p>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col padding>
          <div class="fixed-btn">
            <ion-button expand="block" color='undefine' (click)="logOut()" class="full-with-btn  mt-20">Log Out
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-slide>






  </ion-slides>
</ion-content>