

ion-slides{
    height: 100vh !important;
  }
ion-slide{
    padding-top: 30px;
    display: block;
    background-color: #ffeee0;
}
ion-slide.swiper-slide {
    align-items: flex-start;
}
.all-content-center{
    display: flex;
    justify-content: center;
    align-items: center !important;
}
.fixed-btn{
    display: flex;
    justify-content: center;
}
ion-button.full-with-btn{
    background-color: var(--main-font-color);
    color: #fff;
    font-size: 14px;
    height: 45px;
    border: 1px solid var(--main-font-color);
    border-radius: 4px;
    position:fixed;
    bottom: 50px;
    width: 85%;
}
.bold {
    font-weight: 500;
  }

.round-box{
    border:1px solid #fff;
    height: 170px;
    width: 170px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow:0 0 0px 30px #fff8f1;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.round-box-dark{
    border:1px solid #f6d5c4;
    height: 210px;
    width: 210px;
    background-color: #f6d5c4;
    border-radius: 50%;
    box-shadow:0 0 0px 25px #fce6d7;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.round-box .img-veg{
    -border:1px solid red
}

.tab-menu{
    display: inline-flex;
    margin-top: 80px;
    width: 100%;
}
.tab-menu .item{
    width:100px;
    line-height: 26px;
    color: var(--main-font-color);
    font-size: 16px;
    opacity: .7;
    font-weight: 500;
    transition: .6s ease;
}
// .tab-menu .item:hover{
//     // font-size: 22px !important;
//     transform: scale(1.4);
//     font-weight: bold !important;
//     opacity: 1;
//     transition: .6s ease;
// }
.font-active{
    // font-size:21px !important;
    transform : scale(1.2) translateY(-5px);
    font-weight: bold !important;
    opacity: 1 !important;
    transition: .15s ease;

}


.text-with-right-toggle{
    height: 42px;
}
.text-with-right-toggle .toggle-lable{
    color: var(--main-font-color);
    font-size: 16px;
    line-height: 40px;
}
.mt-20{
  margin-top:20px;
}
.full-border{
    border:1px solid #f1d7d7;
    border-radius: 6px;
}
.bot-border{
    border-bottom:1px solid #f1d7d7;
}
.toggle-label{
    color: var(--main-font-color) !important;
}
.day-square-btn{
    border: 1px solid #ECD5C2;
    color: var(--main-font-color);
    box-shadow: none;
    border-radius: 6px;
    height: 32px;
    width: 32px;
    font-size: 15px;
    --box-shadow:none;
}
.lable-font{
    line-height: 26px;
    color: var(--main-font-color);
    font-size: 15px;
    font-weight: 500;
}
ion-range {
    --pin-background: black;
    --pin-color: red;
    width: var(--knob-handle-size);
    height: var(--knob-handle-size);
}
ion-select{
    display: contents;
}
.day-active{
    background-color:var(--main-font-color);
    color:#fff;
}

.img-upi {
    width: 45%;
    height: 18%;
    margin-top: 40%;
}

.cost {
    transform: scale(4.2);
    color: #c44829;

}

.thanks {
    transform: scale(2.2);
    color: #c44829;

}

.menu-img{
    position: relative;
    .rm-btn{
        position: absolute;
        right: 5px;
        padding: 5px;
        background: #c44829;
        color: #ffeee0;
    }
}

.stylist-input{
    border: 1px solid #f1d7d7;
    border-radius: 6px;
    font-size: 15px;
    color: var(--main-font-color);
    margin-bottom: 20px;
  }