<ion-content class="main-background">
  <ion-slides options="myOptions" class="swiper-no-swiping">




    <!-- about restaurent -->
    <!-- <ion-slide padding class="all-content-center">
      <ion-row>
        <ion-col class="ion-margin-top">
          <div class="round-box-dark" style="margin: auto">
            <img style="width: 65%" src="assets/Illustration.svg">
          </div>
          <br>
          <h6 padding>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
          </h6>
        </ion-col>
      </ion-row>

    </ion-slide> -->




    <!-- Restaurent Name -->
    <ion-slide padding style="background-color: #ffeee0; vertical-align:top">

      <h4 class="ion-text-center ion-margin-bottom">Restaurent Name</h4>
      <br><br><br><br><br><br><br><br>

      <div>
        <ion-input type="text" class="main-color " autofocus id="nameOfRest" [(ngModel)]="restaurentDetail.name"
          name="name" class="bold"></ion-input>
      </div>

      <ion-row>
        <ion-col padding>
          <div class="fixed-btn">
            <ion-button expand="block" color='undefine' (click)="next()" class="full-with-btn  mt-20">PROCEED
            </ion-button>
          </div>
        </ion-col>


      </ion-row>

    </ion-slide>


    <!-- Food served in restaurant is -->
    <ion-slide padding id="vegColor" style="background-color: #ffeee0; vertical-align:top">
      <div class="ion-float-left main-color">
        <ion-icon (click)="previous()" name="arrow-back">
        </ion-icon>

      </div>
      <h6 class="ion-text-center ion-margin-bottom">Food served in restaurant is</h6>
      <br>
      <br>
      <ion-row>
        <ion-col class="ion-margin-top">
          <div class="round-box" style="margin: auto">
            <img class="img-veg" src="assets/veg.svg">
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="list tab-menu">
        <ion-col (click)="addClass( 'veg')" [ngClass]="(foodType.veg)?'item font-active':'item '">Veg</ion-col>
        <ion-col (click)="addClass( 'nonVeg')" [ngClass]="(foodType.nonVeg)?'item font-active':'item '">Non - Veg
        </ion-col>
        <ion-col (click)="addClass( 'both')" [ngClass]="(foodType.both)?'item font-active':'item '">Both</ion-col>
      </ion-row>

      <ion-row *ngIf="!foodType.nonVeg">
        <ion-col padding>
          <div class="text-with-right-toggle mt-20">
            <ion-label class="ion-float-left toggle-lable">Jain preparation available</ion-label>
            <ion-toggle class="ion-float-right" [(ngModel)]="foodType.jain" slot="end" name="jain" color="danger"
              checked></ion-toggle>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col padding>
          <div class="fixed-btn">
            <ion-button expand="block" color='undefine' (click)="saveFoodType()" class="full-with-btn  mt-20">PROCEED
            </ion-button>
          </div>
        </ion-col>


      </ion-row>
    </ion-slide>



    <!-- Type of Restaurant -->
    <ion-slide padding style="background-color: #ffeee0; vertical-align:top">

      <div class="ion-float-left main-color">
        <ion-icon (click)="previous()" name="arrow-back">
        </ion-icon>

      </div>

      <h6 class="ion-text-center ion-margin-bottom">Type of Restaurant</h6>
      <br>
      <br>
      <ion-row>
        <ion-col class="ion-margin-top">
          <div class="round-box" style="margin: auto">
            <img class="img-logo" src="assets/cafe.svg">
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="list tab-menu">
        <ion-col (click)="addClassInRestType( 'cafe')" [ngClass]="(restType.cafe)?'item font-active':'item '">Cafe
        </ion-col>
        <ion-col (click)="addClassInRestType( 'restaurent')"
          [ngClass]="(restType.restaurent)?'item font-active':'item '">
          Restaurent</ion-col>
        <ion-col (click)="addClassInRestType( 'both')" [ngClass]="(restType.both)?'item font-active':'item '">Both
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col padding>
          <div class="fixed-btn">
            <ion-button expand="block" color='undefine' (click)="saveRestType()" class="full-with-btn  mt-20">PROCEED
            </ion-button>
          </div>
        </ion-col>


      </ion-row>
    </ion-slide>


    <!-- Payment Options -->
    <ion-slide padding style="background-color: #ffeee0; vertical-align:top">
      <div class="ion-float-left main-color">
        <ion-icon (click)="previous()" name="arrow-back">
        </ion-icon>

      </div>
      <h6 class="ion-text-center ion-margin-bottom">Payment Options</h6>
      <br>
      <br>
      <ion-row>
        <ion-col class="ion-margin-top">
          <div class="round-box" style="margin: auto">
            <img class="img-veg" src="assets/cash.svg">
          </div>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col>
          <ion-item-sliding padding>
            <ion-item lines="none" color="undefine" class="bot-border">
              <ion-label class="toggle-lable" style="color:#c44829">Cash</ion-label>
              <ion-toggle slot="end" [(ngModel)]="paymentOption.cash" name="cash" color="danger" checked></ion-toggle>
            </ion-item>
            <ion-item lines="none" color="undefine" class="bot-border">
              <ion-label class="toggle-lable" style="color:#c44829">Credit / Debit Card</ion-label>
              <ion-toggle slot="end" [(ngModel)]="paymentOption.credit" name="credit" color="danger"></ion-toggle>
            </ion-item>
            <ion-item lines="none" color="undefine" class="bot-border">
              <ion-label class="toggle-lable" style="color:#c44829">Paytm</ion-label>
              <ion-toggle slot="end" [(ngModel)]="paymentOption.paytm" name="paytm" color="danger"></ion-toggle>
            </ion-item>
            <ion-item lines="none" color="undefine" class="bot-border">
              <ion-label class="toggle-lable" style="color:#c44829">
                UPI Payment
                <br>
                <p style="font-size: 12px;margin-top:5px;">Google pay / Phonepay / Paytm UPI etc</p>
              </ion-label>
              <ion-toggle slot="end" [(ngModel)]="paymentOption.upi" name="upi" color="danger"></ion-toggle>
            </ion-item>
          </ion-item-sliding>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col padding>
          <div class="fixed-btn">
            <ion-button expand="block" color='undefine' (click)="savePaymentType()" class="full-with-btn  mt-20">PROCEED
            </ion-button>
          </div>
        </ion-col>


      </ion-row>
    </ion-slide>



    <!-- You are open on -->
    <ion-slide padding style="background-color: #ffeee0; vertical-align:top">
      <div class="ion-float-left main-color">
        <ion-icon (click)="previous()" name="arrow-back">
        </ion-icon>

      </div>
      <h6 class="ion-text-center">You are open on</h6>
      <br>
      <br>
      <ion-row>
        <ion-col>
          <ion-item-sliding padding>
            <ion-item *ngFor="let days of openOn" lines="none" color="undefine" class="bot-border">
              <ion-label class="toggle-lable" style="color:#c44829">{{days.day}}</ion-label>
              <ion-toggle slot="end" [(ngModel)]="days.isOpen" name="monday" color="danger" checked></ion-toggle>
            </ion-item>
            <!-- <ion-item lines="none" color="undefine" class="bot-border">
              <ion-label class="toggle-lable" style="color:#c44829">Tuesday</ion-label>
              <ion-toggle slot="end" [(ngModel)]="openOn.day0.tuesday" name="tuesday" color="danger" checked></ion-toggle>
            </ion-item>
            <ion-item lines="none" color="undefine" class="bot-border">
              <ion-label class="toggle-lable" style="color:#c44829">Wednesday</ion-label>
              <ion-toggle slot="end" [(ngModel)]="openOn.day0.wednesday" name="wednesday" color="danger" checked></ion-toggle>
            </ion-item>
            <ion-item lines="none" color="undefine" class="bot-border">
              <ion-label class="toggle-lable" style="color:#c44829">Thursday</ion-label>
              <ion-toggle slot="end" [(ngModel)]="openOn.day0.thursday" name="thursday" color="danger" checked></ion-toggle>
            </ion-item>
            <ion-item lines="none" color="undefine" class="bot-border">
              <ion-label class="toggle-lable" style="color:#c44829">Friday</ion-label>
              <ion-toggle slot="end" [(ngModel)]="openOn.day0.friday" name="friday" color="danger" checked></ion-toggle>
            </ion-item>
            <ion-item lines="none" color="undefine" class="bot-border">
              <ion-label class="toggle-lable" style="color:#c44829">Saturday</ion-label>
              <ion-toggle slot="end" [(ngModel)]="openOn.day0.saturday" name="saturday" color="danger" checked></ion-toggle>
            </ion-item>
            <ion-item lines="none" color="undefine" class="bot-border">
              <ion-label class="toggle-lable" style="color:#c44829">Sunday</ion-label>
              <ion-toggle slot="end" [(ngModel)]="openOn.day0.sunday" name="sunday" color="danger" checked></ion-toggle>
            </ion-item> -->
          </ion-item-sliding>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col padding>
          <div class="fixed-btn">
            <ion-button expand="block" color='undefine' (click)="selectDays();" class="full-with-btn  mt-20">
              PROCEED
            </ion-button>
          </div>
        </ion-col>


      </ion-row>
    </ion-slide>




    <!-- Restaurant timing -->

    <ion-slide padding style="background-color: #ffeee0; vertical-align:top">
      <div class="ion-float-left main-color">
        <ion-icon (click)="previous()" name="arrow-back">
        </ion-icon>

      </div>
      <h6 class="ion-text-center ion-margin-bottom">Restaurant timing</h6>
      <br>
      <div padding style="display:flex" class="all-content-center">
        <div *ngFor="let days of selectedDays; let i = index;">
          <ion-button size="small" color="undefine" (click)=" sendDay(days); curentDay = i"
            [ngClass]="(curentDay ==i)?' day-square-btn day-active': 'day-square-btn'">
            {{days.day.substring(0, 1)}}</ion-button>
        </div>
      </div>


      <ion-row>
        <ion-col size="12">
          <ion-item lines="none" color="undefine" class="full-border">

            <ion-datetime class="main-color" display-format="hh:mm A" placeholder="Select Opening time"
              picker-format="hh:mm A" (ionChange)="openTime(selectedDayTime.open)" [(ngModel)]="selectedDayTime.open"
              name="open">
            </ion-datetime>
          </ion-item>
        </ion-col>

        <ion-col size="12" style="padding: 0;">
          <ion-item lines="none" color="undefine">
            <ion-label class="ion-text-center lable-font">to</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="12">
          <ion-item lines="none" color="undefine" class="full-border">
            <ion-datetime [disabled]="selectedDayTime.open==''" class="main-color" display-format="hh:mm A"
              [(ngModel)]="selectedDayTime.close" (ionChange)="closeTime(selectedDayTime.close)"
              placeholder="Select Closing Time" picker-format="hh:mm A" name="close">
            </ion-datetime>
          </ion-item>
        </ion-col>

      </ion-row>
      <ion-item-divider lines="none" color="undefine"></ion-item-divider>
      <br>
      <!-- 
      <ion-row>
        <ion-col size="10">
          <ion-item lines="none" color="undefine" class="full-border">
            <ion-select placeholder="Please Select State" class="main-color">
              <ion-select-option value="Sunday" [selected]="true">Sunday</ion-select-option>
              <ion-select-option value="Monday">Monday</ion-select-option>
              <ion-select-option value="Tuesday">Tuesday</ion-select-option>
              <ion-select-option value="Wednesday">Wednesday</ion-select-option>
              <ion-select-option value="Thursday">Thursday</ion-select-option>
              <ion-select-option value="Friday">Friday</ion-select-option>
              <ion-select-option value="Saturday">Saturday</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col size="2">
          <ion-item lines="none" color="undefine" class="full-border" style="display: grid;
          justify-content: center;">
            <ion-label class="lable-font">
              <ion-icon name="close"></ion-icon>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="5">
          <ion-item lines="none" color="undefine" class="full-border">
            <ion-datetime class="main-color" display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z">
            </ion-datetime>
          </ion-item>
        </ion-col>

        <ion-col size="2" style="padding: 0;">
          <ion-item lines="none" color="undefine">
            <ion-label class="ion-text-center lable-font">to</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="5">
          <ion-item lines="none" color="undefine" class="full-border">
            <ion-datetime class="main-color" display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z">
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row> -->

      <br>
      <br>

      <ion-row *ngIf="((selectedDayTime.close)&&(selectedDayTime.open))">
        <ion-col padding>
          <div class="text-with-right-toggle mt-20">
            <ion-label class="ion-float-left toggle-lable">Same Timing For All Day</ion-label>
            <ion-toggle class="ion-float-right" [(ngModel)]="sameTimeForAll" (click)="setSametimeForAll(sameTimeForAll)"
              slot="end" name="sameTime" color="danger" checked>
            </ion-toggle>
          </div>
        </ion-col>
      </ion-row> <br>

      <ion-row>
        <ion-col padding>
          <div class="fixed-btn">
            <ion-button expand="block" color='undefine' (click)=" checkForRequiredFieldOnDay(); "
              class="full-with-btn  mt-20">
              PROCEED
            </ion-button>
          </div>
        </ion-col>


      </ion-row>

    </ion-slide>



    <!-- Parking Area -->
    <ion-slide padding style="background-color: #ffeee0; vertical-align:top">
      <div class="ion-float-left main-color">
        <ion-icon (click)="previous()" name="arrow-back">
        </ion-icon>

      </div>
      <h6 class="ion-text-center ion-margin-bottom">Parking Area</h6>
      <br>
      <br>
      <ion-row>
        <ion-col class="ion-margin-top">
          <div class="round-box" style="margin: auto">
            <img class="img-veg" src="assets/parking-dark.svg">
          </div>
        </ion-col>
      </ion-row>
      <br>
      <br>
      <br>
      <ion-row>
        <ion-col padding>
          <div class="text-with-right-toggle mt-20">
            <ion-label class="ion-float-left toggle-lable">Parking is available</ion-label>
            <ion-toggle class="ion-float-right" name="parking" [(ngModel)]="parking" slot="end" name="apple"
              color="danger" checked></ion-toggle>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col padding>
          <div class="fixed-btn">
            <ion-button expand="block" color='undefine' (click)="saveParking()" class="full-with-btn  mt-20">PROCEED
            </ion-button>
          </div>
        </ion-col>


      </ion-row>
    </ion-slide>






    <!-- Accommodation size -->
    <ion-slide padding style="background-color: #ffeee0; vertical-align:top">
      <div class="ion-float-left main-color">
        <ion-icon (click)="previous()" name="arrow-back">
        </ion-icon>

      </div>
      <h6 class="ion-text-center ion-margin-bottom">Accommodation Size</h6>
      <br>
      <br>
      <ion-row>
        <ion-col class="ion-margin-top">
          <div class="round-box" style="margin: auto">
              <img class="img-logo" src="assets/tables.svg">
              <!-- <img class="img-logo" src="assets/tables.svg">
              <img class="img-logo" src="assets/tables.svg"> -->
            </div>
        </ion-col>
      </ion-row>

      <br>
      <br>
      <p *ngIf="restCapacity== 10">10 - 20 People at a time</p>
      <p *ngIf="restCapacity== 20">20 - 30 People at a time</p>
      <p *ngIf="restCapacity== 30">30 - 40 People at a time</p>
      <p *ngIf="restCapacity== 40">40 - 50 People at a time</p>
      <p *ngIf="restCapacity== 50">More then 50 People at a time</p>

      <ion-item lines="none" color="undefine">
        <ion-range min="10" max="50" step="10" [(ngModel)]="restCapacity" name="capacity" snaps color="danger">
        </ion-range>
      </ion-item>

      <ion-row>
        <ion-col padding>
          <div class="fixed-btn">
            <ion-button expand="block" color='undefine' (click)="next()" class="full-with-btn  mt-20">PROCEED
            </ion-button>
          </div>
        </ion-col>


      </ion-row>
    </ion-slide>




    <!-- Average cost per person -->
    <ion-slide padding style="background-color: #ffeee0; vertical-align:top">
      <div class="ion-float-left main-color">
        <ion-icon (click)="previous()" name="arrow-back">
        </ion-icon>

      </div>
      <h6 class="ion-text-center ion-margin-bottom">Average cost per person</h6>
      <br><br><br><br><br><br><br><br><br><br><br><br>

      <ion-row>
        <ion-col padding>
          <ion-item lines="none" color="undefine" class="full-border">
            <ion-select placeholder="Please Select State" class="main-color">
              <ion-select-option value="150 INR" [selected]="true">150 INR</ion-select-option>
              <ion-select-option value="250 INR">250 INR</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col padding>
          <div class="fixed-btn">
            <ion-button expand="block" color='undefine' class="full-with-btn  mt-20">PROCEED</ion-button>
          </div>
        </ion-col>
      </ion-row>

    </ion-slide>




















    <!-- About your restaurant -->
    <ion-slide padding style="background-color: #ffeee0; vertical-align:top">
      <h6 class="ion-text-center">About your restaurant</h6>
      <h6 padding class="ion-text-left">
        We love restaurants as much as you do. That’s why we’ve been helping them fill tables since 1999. Whether you’re
        browsing for a quick bite or planning a big night, We will help you discover the perfect dining experience. Your
        new favorite restaurant is out there – go ahead, dig in!
      </h6>
      <br>
      <ion-row>
        <ion-col padding>
          <div class="fixed-btn">
            <ion-button expand="block" color='undefine' class="full-with-btn  mt-20">PROCEED</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-slide>









  </ion-slides>
</ion-content>