<ion-content>
  <ion-slides options="myOptions" pager="false" slider="mySlide[item.id]">






    <ion-slide padding style="background-color: #ffeee0; vertical-align:top">
      <h6 class="ion-text-center ion-margin-bottom">Food served in restaurant is</h6>
      <br>
      <br>
      <ion-row>
        <ion-col class="ion-margin-top">
          <div class="round-box" style="margin: auto">
            <img class="img-veg" src="assets/veg.svg">
            <img class="img-non-veg" src="assets/veg.svg">
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="list tab-menu">
        <ion-col class="item menu-1 font-active">Veg</ion-col>
        <ion-col class="item">Non - Veg</ion-col>
        <ion-col class="item">Both</ion-col>
      </ion-row>

      <ion-row>
        <ion-col padding>
          <div class="text-with-right-toggle mt-20">
            <ion-label class="ion-float-left toggle-lable">Jain preparation available</ion-label>
            <ion-toggle class="ion-float-right" slot="end" name="apple" color="danger" checked></ion-toggle>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col padding>
          <div class="fixed-btn">
            <ion-button expand="block" color='undefine' class="full-with-btn  mt-20">PROCEED</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-slide>








    <ion-slide padding style="background-color: #ffeee0; vertical-align:top">
      <h6 class="ion-text-center ion-margin-bottom">Accommodation Size</h6>
      <br>
      <br>
      <ion-row>
        <ion-col class="ion-margin-top">
          <div class="round-box" style="margin: auto">
            <img class="img-logo" src="assets/tables.svg">
          </div>
        </ion-col>
      </ion-row>

      <br>
      <br>

      <p>10 - 20 People at a time</p>

      <ion-item lines="none" color="undefine">
        <ion-range min="10" max="50" step="10" value="10" snaps color="danger">
        </ion-range>
      </ion-item>

      <ion-row>
        <ion-col padding>
          <div class="fixed-btn">
            <ion-button expand="block" color='undefine' class="full-with-btn  mt-20">PROCEED</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-slide>




    <ion-slide padding style="background-color: #ffeee0; vertical-align:top">
      <h6 class="ion-text-center ion-margin-bottom">Restaurent Name</h6>
      <br><br><br><br><br><br><br><br>

      <div>
        <p class="bold">CHAI SUTTA BAR AHMEDABAD</p>
      </div>

      <ion-row>
        <ion-col padding>
          <div class="fixed-btn">
            <ion-button expand="block" color='undefine' class="full-with-btn  mt-20">PROCEED</ion-button>
          </div>
        </ion-col>
      </ion-row>

    </ion-slide>








    <ion-slide padding style="background-color: #ffeee0; vertical-align:top">
      <h6 class="ion-text-center ion-margin-bottom">Average cost per person</h6>
      <br><br><br><br><br><br><br><br><br><br><br><br>

      <ion-row>
        <ion-col padding>
          <ion-item lines="none" color="undefine" class="full-border">
            <ion-label class="lable-font">150 INR</ion-label>
            <ion-select>
              <ion-select-option value="cat">200 INR</ion-select-option>
              <ion-select-option value="dog">150 INR</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col padding>
          <div class="fixed-btn">
            <ion-button expand="block" color='undefine' class="full-with-btn  mt-20">PROCEED</ion-button>
          </div>
        </ion-col>
      </ion-row>

    </ion-slide>






    <ion-slide padding style="background-color: #ffeee0; vertical-align:top">
      <h6 class="ion-text-center ion-margin-bottom">Restaurant timing</h6>
      <br>
      <div padding style="display:flex" class="all-content-center">
        <ion-button size="small" color="undefine" class="day-square-btn">S</ion-button>
        <ion-button size="small" color="undefine" class="day-square-btn">M</ion-button>
        <ion-button size="small" color="undefine" class="day-square-btn">T</ion-button>
        <ion-button size="small" color="undefine" class="day-square-btn">W</ion-button>
        <ion-button size="small" color="undefine" class="day-square-btn">T</ion-button>
        <ion-button size="small" color="undefine" class="day-square-btn">F</ion-button>
        <ion-button size="small" color="undefine" class="day-square-btn">S</ion-button>
      </div>

      <ion-row>
        <ion-col size="5">
          <ion-item lines="none" color="undefine" class="full-border">

            <ion-datetime class="main-color" display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z">
            </ion-datetime>
          </ion-item>
        </ion-col>

        <ion-col size="2" style="padding: 0;">
          <ion-item lines="none" color="undefine">
            <ion-label class="ion-text-center lable-font">to</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="5">
          <ion-item lines="none" color="undefine" class="full-border">
            <ion-datetime class="main-color" display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z">
            </ion-datetime>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-item-divider lines="none" color="undefine"></ion-item-divider>
      <br>

      <ion-row>
        <ion-col size="10">
          <ion-item lines="none" color="undefine" class="full-border">
            <ion-select placeholder="Please Select State" class="main-color">
              <ion-select-option value="Sunday" [selected]="true">Sunday</ion-select-option>
              <ion-select-option value="Monday">Monday</ion-select-option>
              <ion-select-option value="Tuesday">Tuesday</ion-select-option>
              <ion-select-option value="Wednesday">Wednesday</ion-select-option>
              <ion-select-option value="Thursday">Thursday</ion-select-option>
              <ion-select-option value="Friday">Friday</ion-select-option>
              <ion-select-option value="Saturday">Saturday</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col size="2">
          <ion-item lines="none" color="undefine" class="full-border" style="display: grid;
            justify-content: center;">
            <ion-label class="lable-font">
              <ion-icon name="close"></ion-icon>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="5">
          <ion-item lines="none" color="undefine" class="full-border">
            <ion-datetime class="main-color" display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z">
            </ion-datetime>
          </ion-item>
        </ion-col>

        <ion-col size="2" style="padding: 0;">
          <ion-item lines="none" color="undefine">
            <ion-label class="ion-text-center lable-font">to</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="5">
          <ion-item lines="none" color="undefine" class="full-border">
            <ion-datetime class="main-color" display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z">
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <br>
      <br>

      <h6 class="ion-text-center ion-margin-bottom">+ Add different time for any day</h6>
      <br>

      <ion-row>
        <ion-col padding>
          <div class="fixed-btn">
            <ion-button expand="block" color='undefine' class="full-with-btn  mt-20">PROCEED</ion-button>
          </div>
        </ion-col>
      </ion-row>

    </ion-slide>





    <ion-slide padding class="all-content-center">
      <ion-row>
        <ion-col class="ion-margin-top">
          <div class="round-box-dark" style="margin: auto">
            <img style="width: 65%" src="assets/Illustration.svg">
          </div>
          <br>
          <h6 padding>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
          </h6>
        </ion-col>
      </ion-row>

    </ion-slide>


    <ion-slide padding style="background-color: #ffeee0; vertical-align:top">
      <h6 class="ion-text-center ion-margin-bottom">Payment Options</h6>
      <br>
      <br>
      <ion-row>
        <ion-col class="ion-margin-top">
          <div class="round-box" style="margin: auto">
            <img class="img-veg" src="assets/cash.svg">
          </div>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col>
          <ion-item-sliding padding>
            <ion-item lines="none" color="undefine" class="bot-border">
              <ion-label class="toggle-lable" style="color:#c44829">Cash</ion-label>
              <ion-toggle slot="end" color="danger" checked></ion-toggle>
            </ion-item>
            <ion-item lines="none" color="undefine" class="bot-border">
              <ion-label class="toggle-lable" style="color:#c44829">Credit / Debit Card</ion-label>
              <ion-toggle slot="end" color="danger"></ion-toggle>
            </ion-item>
            <ion-item lines="none" color="undefine" class="bot-border">
              <ion-label class="toggle-lable" style="color:#c44829">Paytm</ion-label>
              <ion-toggle slot="end" color="danger"></ion-toggle>
            </ion-item>
            <ion-item lines="none" color="undefine" class="bot-border">
              <ion-label class="toggle-lable" style="color:#c44829">
                UPI Payment
                <br>
                <p style="font-size: 12px;margin-top:5px;">Google pay / Phonepay / Paytm UPI etc</p>
              </ion-label>
              <ion-toggle slot="end" color="danger"></ion-toggle>
            </ion-item>
          </ion-item-sliding>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
            <ion-col padding>
              <div class="fixed-btn">
                <ion-button expand="block" color='undefine' class="full-with-btn  mt-20">PROCEED</ion-button>
              </div>
            </ion-col>
          </ion-row> -->
    </ion-slide>



    <ion-slide padding style="background-color: #ffeee0; vertical-align:top">
      <h6 class="ion-text-center ion-margin-bottom">Parking Area</h6>
      <br>
      <br>
      <ion-row>
        <ion-col class="ion-margin-top">
          <div class="round-box" style="margin: auto">
            <img class="img-veg" src="assets/parking-dark.svg">
          </div>
        </ion-col>
      </ion-row>
      <br>
      <br>
      <br>
      <ion-row>
        <ion-col padding>
          <div class="text-with-right-toggle mt-20">
            <ion-label class="ion-float-left toggle-lable">Parking is available</ion-label>
            <ion-toggle class="ion-float-right" slot="end" name="apple" color="danger" checked></ion-toggle>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col padding>
          <div class="fixed-btn">
            <ion-button expand="block" color='undefine' class="full-with-btn  mt-20">PROCEED</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-slide>






    <ion-slide padding style="background-color: #ffeee0; vertical-align:top">
      <h6 class="ion-text-center">You are open on</h6>
      <br>
      <br>
      <ion-row>
        <ion-col>
          <ion-item-sliding padding>
            <ion-item lines="none" color="undefine" class="bot-border">
              <ion-label class="toggle-lable" style="color:#c44829">Monday</ion-label>
              <ion-toggle slot="end" color="danger" checked></ion-toggle>
            </ion-item>
            <ion-item lines="none" color="undefine" class="bot-border">
              <ion-label class="toggle-lable" style="color:#c44829">Tuesday</ion-label>
              <ion-toggle slot="end" color="danger" checked></ion-toggle>
            </ion-item>
            <ion-item lines="none" color="undefine" class="bot-border">
              <ion-label class="toggle-lable" style="color:#c44829">Wednesday</ion-label>
              <ion-toggle slot="end" color="danger" checked></ion-toggle>
            </ion-item>
            <ion-item lines="none" color="undefine" class="bot-border">
              <ion-label class="toggle-lable" style="color:#c44829">Thursday</ion-label>
              <ion-toggle slot="end" color="danger" checked></ion-toggle>
            </ion-item>
            <ion-item lines="none" color="undefine" class="bot-border">
              <ion-label class="toggle-lable" style="color:#c44829">Friday</ion-label>
              <ion-toggle slot="end" color="danger" checked></ion-toggle>
            </ion-item>
            <ion-item lines="none" color="undefine" class="bot-border">
              <ion-label class="toggle-lable" style="color:#c44829">Saturday</ion-label>
              <ion-toggle slot="end" color="danger" checked></ion-toggle>
            </ion-item>
            <ion-item lines="none" color="undefine" class="bot-border">
              <ion-label class="toggle-lable" style="color:#c44829">Sunday</ion-label>
              <ion-toggle slot="end" color="danger" checked></ion-toggle>
            </ion-item>
          </ion-item-sliding>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col padding>
          <div class="fixed-btn">
            <ion-button expand="block" color='undefine' class="full-with-btn  mt-20">PROCEED</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-slide>





    <ion-slide padding style="background-color: #ffeee0; vertical-align:top">
      <h6 class="ion-text-center ion-margin-bottom">Food served in restaurant is</h6>
      <br>
      <br>
      <ion-row>
        <ion-col class="ion-margin-top">
          <div class="round-box" style="margin: auto">
            <img class="img-veg" src="assets/veg.svg">
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="list tab-menu">
        <ion-col (click)="addClass(1)" [ngClass]="(active===1)?'item':'item font-active'">Veg</ion-col>
        <ion-col (click)="addClass(2)" [ngClass]="(active===2)?'item':'item font-active'">Non - Veg</ion-col>
        <ion-col (click)="addClass(3)" [ngClass]="(active===3)?'item':'item font-active'">Both</ion-col>
      </ion-row>

      <ion-row>
        <ion-col padding>
          <div class="text-with-right-toggle mt-20">
            <ion-label class="ion-float-left toggle-lable">Jain preparation available</ion-label>
            <ion-toggle class="ion-float-right" slot="end" name="apple" color="danger" checked></ion-toggle>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col padding>
          <div class="fixed-btn">
            <ion-button expand="block" color='undefine' class="full-with-btn  mt-20">PROCEED</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-slide>







    <ion-slide padding style="background-color: #ffeee0; vertical-align:top">
      <h6 class="ion-text-center">About your restaurant</h6>
      <h6 padding class="ion-text-left">
        We love restaurants as much as you do. That’s why we’ve been helping them fill tables since 1999. Whether you’re
        browsing for a quick bite or planning a big night, We will help you discover the perfect dining experience. Your
        new favorite restaurant is out there – go ahead, dig in!
      </h6>
      <br>
      <ion-row>
        <ion-col padding>
          <div class="fixed-btn">
            <ion-button expand="block" color='undefine' class="full-with-btn  mt-20">PROCEED</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-slide>





    <ion-slide padding style="background-color: #ffeee0; vertical-align:top">
      <h6 class="ion-text-center ion-margin-bottom">Type of Restaurant</h6>
      <br>
      <br>
      <ion-row>
        <ion-col class="ion-margin-top">
          <div class="round-box" style="margin: auto">
            <img class="img-logo" src="assets/cafe.svg">
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="list tab-menu">
        <ion-col class="item font-active">Cafe</ion-col>
        <ion-col class="item">Restaurent</ion-col>
        <ion-col class="item">Both</ion-col>
      </ion-row>

      <ion-row>
        <ion-col padding>
          <div class="fixed-btn">
            <ion-button expand="block" color='undefine' class="full-with-btn  mt-20">PROCEED</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-slide>





  </ion-slides>
</ion-content>