<ion-content class="ion-no-padding">


  <div class="main ion-no-margin">
    <ion-card class="ion-no-margin">
      <ion-card-content>
        <ion-row>
          <ion-col class="fire-logo">

            <h2 style="font-size: xx-large" class=" btn-color ion-no-margin ion-text-center ion-margin-vertical">
              Welcome to CRAB</h2>

            <img src="assets/welcome.png" class="img-logo">

            <h2 style="font-size: large" class=" btn-color ion-no-margin ion-text-center ion-margin-vertical">
              Creat A New Account
            </h2>

          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-input clearInput type="tel" placeholder="Mobile No" [(ngModel)]="phoneNo"
              class="input ion-margin-vertical ion-padding-horizontal" clear-input="true">
              <ion-icon size="large" color="undefine" style="color: #996452" name="phone-portrait"></ion-icon>
            </ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="login()" color="undefined" (click)="onSignInSubmit()"
              class="transition">
              <strong class="white">
                Send OTP</strong></ion-button>
                <div id="recaptcha-container"></div>
              </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text class="error ion-text-center">{{error}}</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text class="ion-text-center block btn-color">Already have an Acount ?
              <span class="bold btn-color" routerLink="/signup">SIGN IN</span></ion-text>
          </ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col>
            <ion-text class="ion-text-center block bold btn-color" routerLink="/forgot">Forgot Password</ion-text>
          </ion-col>
        </ion-row> -->
      </ion-card-content>

    </ion-card>

    <!-- 
    <ion-row class="row">
      <div class="fire-logo">
        <ion-text class="ion-text-left" >

          <h2 class=" btn-color  ion-no-margin  ion-margin-vertical">
            OTP recive on</h2>
          <ion-row>
            <ion-col>

              <p> 9017697290 </p>
            </ion-col>
            <ion-col>
              <h3>change</h3>
            </ion-col>
          </ion-row>

        </ion-text>

        <img src="assets/chat.svg" class="img-logo">

        <h2 style="font-size: large" class=" btn-color ion-no-margin ion-text-center ion-margin-vertical">
          Enter 6 digit OTP </h2>
        <ion-row>
          <ion-col>
            <ion-input clearInput type="tel" placeholder="Mobile No" [(ngModel)]="phoneNo"
              class="input ion-margin-vertical ion-padding-horizontal" clear-input="true">
              <ion-icon size="large" color="undefine" style="color: #996452" name="phone-portrait"></ion-icon>
            </ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="login()" color="undefined" class="transition">
              <strong class="white">
                Send OTP</strong></ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text class="error ion-text-center">{{error}}</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text class="ion-text-center block btn-color">Already have an Acount ?
              <span class="bold btn-color" routerLink="/signup">SIGN IN</span></ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text class="ion-text-center block bold btn-color" routerLink="/forgot">Forgot Password</ion-text>
          </ion-col>
        </ion-row>
      </div>
    </ion-row> -->
  </div>
</ion-content>