<ion-content class="main-background">


  <div class="main ion-no-margin" style="background-color: #ffeee0;">
    <ion-row *ngIf="!otpSend" padding class="ion-no-margin">
      <ion-col padding>

        <ion-row>
          <ion-col class="fire-logo">

            <h1 style="font-size: xx-large" class=" btn-color ion-no-margin ion-text-center ion-margin-vertical"
              style="margin: 0 !important;">
              Welcome to CRAB</h1>

            <img src="assets/welcome.png" class="img-logo">

            <p style="font-size: 18px !important" class="ion-text-center bold">Create A New Account</p>

          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item class="stylist-input" lines="none" color="undefine">
              <ion-label slot="end" style="font-size: 12px;">Mobile Number</ion-label>
              <ion-input class="opacity-1" type="number" (keydown)="isValidNumber($event)" (keyup)="phoneValidation()" name="phoneNo"
                [(ngModel)]="phoneNo">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text class="error ion-text-center">{{error}}</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="block" [disabled]="error" (click)="onSignInSubmit()" color='undefine'
              class="full-with-btn  mt-20 transition">Send
              OTP</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div id="recaptcha"></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text class="ion-text-center block btn-color">Already have an Acount ?
              <span class="bold btn-color">SIGN IN</span></ion-text>
          </ion-col>
        </ion-row>

      </ion-col>

    </ion-row>


    <ion-row *ngIf="otpSend" padding class="row login-screen">
      <div padding class="login-screen-content">
        <!-- <ion-text class="ion-text-left" > -->

        <p class="bold">OTP recive on</p>
        <ion-row>
          <ion-col>
            <ion-text class="block btn-color"><span class="ion-float-left" (click)="signOut()">+91 {{phoneNo}}</span>
              <span style="float: right;" class="btn-color" (click)="otpSend= false">Change</span></ion-text>
          </ion-col>
        </ion-row>
        <!-- </ion-text> -->

        <br>
        <br>


        <ion-row>
          <ion-col class="all-content-center">
            <img src="assets/massage_icon.svg" class="img-logo" style="height: 75%;">
          </ion-col>
        </ion-row>

        <br>


        <p class="ion-text-center bold">Enter 6 Digit OTP Received</p>

        <br>


        <!-- <ion-row>
          <ion-col>
            <ion-input clearInput type="tel" placeholder="Mobile No" [(ngModel)]="phoneNo"
              class="input ion-margin-vertical ion-padding-horizontal" clear-input="true">
              <ion-icon size="large" color="undefine" style="color: #996452" name="phone-portrait"></ion-icon>
            </ion-input>
          </ion-col>
        </ion-row> -->
        <ion-item class="stylist-input" lines="none" color="undefine">
          <ion-label slot="end">OTP</ion-label>
          <ion-input class="opacity-1" [(ngModel)]="otp" name="otp" placeholder="OTP"></ion-input>
        </ion-item>

        <!-- <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="login()" color="undefined" class="transition">
              <strong class="white">
                Send OTP</strong></ion-button>
          </ion-col>
        </ion-row> -->
        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="otpSummit()" color='undefine' class="full-with-btn  mt-20 transition">
              Verify OTP</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text class="error ion-text-center">{{error}}</ion-text>
          </ion-col>
        </ion-row>
        <br>
        <ion-row>
          <ion-col>
            <!-- <ion-text class="block btn-color"><span class="ion-float-left" style="font-size: 13px;">OTP will expire in
                {{timmerCountOtp}} seconds</span>
              <span style="float: right;" class="bold btn-color" (click)="resendOtp()"><img src="assets/refresh.svg"
                  class="img-logo"> RESEND OTP</span></ion-text> -->
          </ion-col>
        </ion-row>
      </div>
    </ion-row>
  </div>
</ion-content>