<ion-slides options="myOptions" >
  <ion-slide class="step-one">
    <ion-img src="/assets/intro1.png"></ion-img>
    <!-- <h4>hey 1</h4> -->
  </ion-slide>

  <ion-slide class="step-two">
    <ion-img src="/assets/intro2.png"></ion-img>
    <!-- <h4>hey df1</h4> -->

  </ion-slide>

  <ion-slide class="step-three">
    <ion-img src="/assets/intro3.png"></ion-img>
    <!-- <h4>heyfdbg 1</h4> -->


    <!-- <ion-button color="danger" (click)="finish()">FINISH TUTORIAL!</ion-button> -->
  </ion-slide>
</ion-slides>
