ion-slides {
    height: 100vh;
    width: 100vw;
    // flex-direction: column;
    --background:url('/assets/theme_background.png') 0 0/100% 100% no-repeat ;

}

ion-img {
    max-width: 100vw;
    max-height: 100vh;
    // overflow: hidden;
}


.step-one {
    // background: var(--ion-color-primary);
    // color: var(--ion-color-primary-contrast);
}

.step-two {
    // background: var(--ion-color-success);
    // color: var(--ion-color-success-contrast);
}

.step-three {
    // background: var(--ion-color-dark);
    // color: var(--ion-color-dark-contrast);
}