<ion-content class="main-background">

  <ion-row padding class="row signup-screen">
    <div padding class="login-screen-content">


        <h2 class="ion-text-center bold main-color">Welcome to CRAB</h2>

      <ion-row>
        <ion-col class="all-content-center">
            <img src="assets/welcome.png" class="img-logo">
        </ion-col>
      </ion-row>

      <ion-item class="stylist-input" lines="none" color="undefine">
        <ion-input class="opacity-1" placeholder="User name"></ion-input>
      </ion-item>
      <ion-item class="stylist-input" lines="none" color="undefine">
        <ion-input class="opacity-1" placeholder="Email"></ion-input>
      </ion-item>
      <ion-item class="stylist-input" lines="none" color="undefine">
        <ion-input class="opacity-1" placeholder="Password"></ion-input>
      </ion-item>
      <!-- <ion-item class="stylist-input" lines="none" color="undefine">
        <ion-input class="opacity-1" placeholder="Enter a number from 1 to 1000"></ion-input>
      </ion-item> -->

      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="login()" color='undefine' class="full-with-btn">
            REGISTER</ion-button>
        </ion-col>
      </ion-row>

            <h6 class="ion-text-center">
                Don't have an account yet? <span class="bold">Sign up here</span>
              </h6>
    </div>
  </ion-row>

</ion-content>

