

  #map {
    // width: 440px;
    height: 100%;
  }
  #listing {
    position: absolute;
    width: 200px;
    height: 470px;
    overflow: auto;
    left: 442px;
    top: 0px;
    cursor: pointer;
    overflow-x: hidden;
  }
  #findhotels {
    font-size: 14px;
  }
  #locationField {
    -webkit-box-flex: 1 1 190px;
    -ms-flex: 1 1 190px;
    flex: 1 1 190px;
    margin: 0 8px;
  }
  #controls {
    -webkit-box-flex: 1 1 140px;
    -ms-flex: 1 1 140px;
    flex: 1 1 140px;
  }
  #autocomplete {
    width: 75%;
    padding: 10px;
    font-size: 15px;
    top: 20px !important;
    // position: absolute !important;
    border: 1px solid white;
    // left: 5% !important;
    // right: 5% !important;
    color: var(--main-font-color);
  }  
  ::placeholder{
    color: #c44829;
  }
  input:focus{
    outline:none !important;
  }
  .map-setting-part{
    background-color: #ffeee0;
    padding: 20px 30px;
  }
  .stylist-input{
    border: 1px solid #f1d7d7;
    border-radius: 6px;
    font-size: 15px;
    color: var(--main-font-color);
    margin-bottom: 20px;
  }
ion-button.full-with-btn{
    background-color: var(--main-font-color);
    color: #fff;
    font-size: 12px;
    height: 45px;
    border: 1px solid var(--main-font-color);
    border-radius: 4px;
    width: 100%;
}
.opacity-1{--placeholder-opacity: 1  !important;}