
.hotel-search {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    position: absolute;
    top: 0;
    width: 440px;
    z-index: 1;
  }
  #map {
    margin-top: 40px;
    width: 440px;
    height: 100%;
  }
  #listing {
    position: absolute;
    width: 200px;
    height: 470px;
    overflow: auto;
    left: 442px;
    top: 0px;
    cursor: pointer;
    overflow-x: hidden;
  }
  #findhotels {
    font-size: 14px;
  }
  #locationField {
    -webkit-box-flex: 1 1 190px;
    -ms-flex: 1 1 190px;
    flex: 1 1 190px;
    margin: 0 8px;
  }
  #controls {
    -webkit-box-flex: 1 1 140px;
    -ms-flex: 1 1 140px;
    flex: 1 1 140px;
  }
  #autocomplete {
    width: 100%;
  }  